.mision--vision{
    transform: translateY(5vw);
}
.mision--titulo{
    font-family: "DM Sans",sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #fffcfd;
}
.mision--texto{
    font-family: 'DM Sans',sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #fffcfd;
}

.vision--titulo{
    font-family: 'DM Sans',sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #fffcfd;
}

.vision--texto{
    font-family: 'DM Sans',sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #fffcfd;
}

.imagen{
    opacity: 30%;
}


@media (min-width:320px) {
    .mision--vision{
        width: 100vw;
        
    
    }

    .mision{
        padding: 2rem;
        
        width: 90vw;
        height: 30vh;    
    }

    .imagenMiss{
        width: clamp(300px,80vw,500px);
        height: clamp(150px,50vh,300px);
    }

    .imagen{
        width: clamp(300px,80vw,500px);
        height: clamp(150px,50vh,300px);
    }


    .mision--titulo{
        transform: translate(30px,-250px);
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        
    }

    .textoMiss{
        transform: translate(9px,-250px);
        width: clamp(100px,77vw,400px);
    }


    .mision--texto{
        transform: translateX(1px);
        font-size: clamp(10px,2vw,15px);
        

    }
    .vision{
        padding: 2rem;
        transform: translate(0,10vh);
        width: 90vw;
        height: 30vh;
    }

    .imagenViss{
        width: clamp(300px,80vw,500px);
        height: clamp(150px,50vh,300px);
    }

    .vision--titulo{
        transform: translate(30px,-250px);
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;

    }
    .textoViss{
        transform: translate(9px,-50vh);
        width: clamp(100px,77vw,400px);
    }

    
     .vision--texto{
        transform: translateX(1px);
        font-size: clamp(10px,2vw,15px);
        color: #fffcfd;
        font-family: 'DM Sans',sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }

     .QSomos{
        padding: 2rem;
        transform: translate(0,19vh);
        width: 90vw;
        height: 30vh;    
    }

    .imagenQsom{
        width: clamp(300px,77vw,450px);
        height: clamp(150px,50vh,300px);
    }    
    
    .tituloQs{
        transform: translate(30px,-280px);
    }


    .QSomos--titulo{
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        color: #f6f6f6;
        font-family: 'DM Sans',sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }

    .textoQs{
        transform: translate(9px,-300px);
        width: clamp(100px,75vw,400px);
    }

    .QSomos--texto{
        transform: translateX(1px);
        font-size: clamp(2px,1.8vw,7.5px);
        color: #fffcfd;
        font-family: 'DM Sans',sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }


}

@media (min-width:650px) {
 .mision--vision{
        width: 100vw;
        
    
    }

    .mision{
        padding: 2rem;
        transform: translateX(3vw);
        width: 90vw;
        height: 30vh;    
    }

    .imagenMiss{
        width: clamp(300px,80vw,600px);
        height: clamp(150px,50vh,400px);
    }

    .imagen{
        width: clamp(300px,80vw,600px);
        height: clamp(150px,50vh,400px);
    }


    .mision--titulo{
        transform: translate(30px,-270px);
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        color: #f6f6f6
    }

    .textoMiss{
        transform: translate(9px,-290px);
        width: clamp(100px,77vw,400px);
    }


    .mision--texto{
        transform: translateX(1px);
        font-size: clamp(10px,4vw,15px);
        color: #fffcfd;
        font-family: 'DM Sans',sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }
    .vision{
        padding: 2rem;
        transform: translate(3vw,12vh);
        width: 90vw;
        height: 30vh;
    }

    .imagenViss{
        width: clamp(300px,80vw,500px);
        height: clamp(150px,50vh,300px);
    }

    .vision--titulo{
        transform: translate(30px,-250px);
        color: #f6f6f6;
        font-family: 'DM Sans',sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }
    .textoViss{
        transform: translate(9px,-250px);
        width: clamp(100px,77vw,400px);
    }

    
     .vision--texto{
        transform: translateX(1px);
        font-size: clamp(10px,2vw,15px);
        color: #fffcfd;
        font-family: 'DM Sans',sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }

     .QSomos{
        padding: 2rem;
        transform: translate(3vw,24vh);
        width: 90vw;
        height: 30vh;    
    }

    .imagenQsom{
        width: clamp(300px,77vw,450px);
        height: clamp(150px,50vh,300px);
    }    
    
    .tituloQs{
        transform: translate(30px,-280px);
    }


    .QSomos--titulo{
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        color: #f6f6f6
    }

    .textoQs{
        transform: translate(9px,-300px);
        width: clamp(100px,78vw,550px);
    }

    .QSomos--texto{
        transform: translateX(1px);
        font-size: clamp(2px,2vw,8.5px);
        color: #fffcfd;
        font-family: 'DM Sans',sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }




    
}
    
    


